[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
flake8 = "*"

[packages]
fonttools = "*"
requests = "*"
lxml = "*"

[requires]
python_version = "3.7"
